p {
  margin: 0;
}
.user-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  height: 40px;
}
.user-column:hover .user-btns {
  display: flex;
  cursor: pointer;
}
.user-table {
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
.user-data {
  margin-right:10px;
}
.user-btns {
  display: none;
}
.user-edit-btn {
  padding: 5px 20px;
  border-radius: 5px;
  border: 2px solid #00B969;
  color: #00B969;
  font-weight: 600;
  height: 25px;
  margin: 0 10px;
}
.user-delete-btn {
  padding: 5px 20px;
  background-color: #00B969;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 25px;
}